* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.fa {
    font-size: 2em;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}

.content{
    width: 80%;
    margin: auto;
}

th {
    color:rgb(41, 128, 185);
}

td {
    color: rgb(52, 73, 94);
}

// .desc{
//     width: 80%;
// }

// .date {
//     width: 20%;
// }


.hed {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    float: right;
    right:-50%;
    transform: translateX(-75%);
    text-align: center;
    top:0; 
    position: fixed;   
    background: white;
    z-index: 10;

    .icons {
        text-align: center;
    }

    h1{
        color:rgb(41, 128, 185);
    }

    table{
        width: 80%;
        margin: auto;
        text-align: center;
        
    }
    .farow {
    display: block;
    }
}

.mainBody{
    position: absolute;
    top:250px;


    .edu span,
    .skills span,
    .work span{
        font-weight:bolder;
    }
}


